<div class="list-heading">
  <h1>Planeten</h1>
</div>

<div class="responsive-grid">
  <mat-card *ngFor="let planet of planets$ | async">
    <img mat-card-image src="assets/planets.jpg" />
    <mat-card-header>
      <mat-card-title>{{ planet.name }}</mat-card-title>
    </mat-card-header>
    <br />
    <mat-card-content>
      <p>Name: {{ planet.name }}</p>
      <p>Durchmesser: {{ planet.diameter }}</p>
      <p>Bevölkerung: {{ planet.population }}</p>
      <br />
    </mat-card-content>
  </mat-card>
</div>
