<div class="list-heading">
  <h1>Charaktere</h1>
</div>

<div class="responsive-grid">
  <mat-card *ngFor="let character of characters$ | async" (click)="goToCharacter(character.url)">
    <img mat-card-image src="assets/characters.jpg" />
    <mat-card-header>
      <mat-card-title>{{ character.name }}</mat-card-title>
    </mat-card-header>
    <br />
    <mat-card-content>
      <p>Name: {{ character.name }}</p>
      <p>Geschlecht: {{ character.gender }}</p>
      <p>Höhe: {{ character.height }}</p>
      <br />
    </mat-card-content>
  </mat-card>
</div>
